<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Digital Nomad Guide To Taiwan</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/lodash"></script>
    
</head>
<body>

<div class="container-fuild">

  <!-- layout start -->
  <nav class="navbar navbar-inverse bg-inverse">
    <h1 class="navbar-brand mb-0">Digital Nomad Guide To Taiwan</h1>
  </nav>
  <!-- layout end -->

  <div id="app" class="row">
    
    <!-- 左側 start -->
    <div class="col-md-3 col-sm-12">
      <div class="list-group">
        <a href="#" class="list-group-item" :href="'#list-' + key" :id="'list-' + key + '-id'" data-toggle="list" role="tab" v-for="(info, key, index) in infos"
          v-on:click="switchContent" :aria-controls="key">{{ key }}</a>
      </div>
    </div>
    <!-- 左側 end -->

    <!-- 右側 start -->
    <div class="col-md-9 col-sm-12">
      <div class="tab-content" id="nav-tabContent">
        <div v-for="(info, key, index) in infos">

          <div class="tab-pane fade" :id="'list-' + key" role="tabpanel" :aria-labelledby="'list-' + key + '-id'">
            <div v-for="item in info">

              <div class="card" v-if="item.photo">
                <div class="card-header">
                  {{ item.name }}
                </div>
                <div class="card-block">
                  <!-- <h4 class="card-title">Special title treatment</h4> -->
                  <div class="card-text row">
                    <div class="col-md-6 col-sm-12">
                      <ul>
                        <li v-if="item.link">
                          <a :href="item.link" target="_blank">official website</a>
                        </li>
                        <li v-if="item.address">
                          {{item.address}}
                        </li>
                        <li v-if="item.googleMap">
                          <a :href="item.googleMap" target="_blank">Google Map</a>
                        </li>
                        <li v-if="item.facebook">
                          <a :href="item.facebook" target="_blank">facebook</a>
                        </li>
                        <li v-if="item.itunes">
                          <a :href="item.itunes" target="_blank">itunes app</a>
                        </li>
                        <li v-for="description in item.description">{{description}}</li>
                      </ul>
                    </div>
                    <div class="col-md-3  col-sm-12" v-for="photo in item.photo">
                      <a :href="photo.imageUrl" target="_blank">
                        <img :src="photo.imageUrl" :alt="photo.alt" class="img-thumbnail" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div v-if="!item.photo">
                <div class="alert">
                  <!-- no phone -->
                  <a :href="item.link" target="_blank"> {{ item.name }} </a>
                </div>
              </div>

              
            </div> <!-- row end -->
          </div>  <!-- tab-pane end -->

        </div>
      </div>
    </div>
    <!-- 右側 end -->

  </div>
</div>

  <script src="https://unpkg.com/vue"></script>
  <script src="main.js"></script>
</body>

</html>